* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  /* position: relative; */
  background-color: #6C7A89;
}

.title {
  color: #ffffff;
  text-align: center;
  font-weight: 100;
  padding-top: 10px;
}

.wrapper {
  position: relative;
  height: 520px;
  padding-top: 64px;
  width: 320px;
  overflow: hidden;
  background-color: white;
  top: 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.wrapper .inner {
  overflow: scroll;
  height: 100%;
  background: #f2f2f2;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.wrapper .inner::-webkit-scrollbar {
  width: 0 !important;
}
.wrapper .inner .content {
  padding: 10.66667px;
  position: relative;
  margin-bottom: 32px;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 100;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.nav .default-nav {
  height: 64px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 110;
  background-color: #34495e;
  border-bottom: 3px solid #2c3e50;
  color: #ffffff;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.nav .default-nav .main-nav {
  position: absolute;
  left: 0;
  width: 100%;
  height: 64px;
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.nav .default-nav .main-nav .headline {
  text-align: center;
  height: 64px;
  position: relative;
  line-height: 64px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.nav .default-nav .main-nav .headline .profile {
  height: 45px;
  width: 45px;
  position: absolute;
  left: 30px;
  bottom: 0;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
  background-image: url("../images/them.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 2px solid;
  border-radius: 25px;
}
.nav .default-nav .main-nav .headline .status-badge {
  height: 11px;
  width: 11px;
  position: absolute;
  background-color: #a9a9a9;
  border-radius: 25px;
  bottom: 12px;
  left: 64px;
  z-index: 1;
}
.nav .default-nav .main-nav .headline .status-badge.online {
  background-color: #00cc00;
}
.nav .default-nav .main-nav .headline .status-badge.error {
  background-color: #e60000;
}
.nav .default-nav .main-nav .headline .status-badge.warning {
  background-color: #ffae1a;
}

.nav .default-nav .main-nav .main-nav-item .main-nav-item-link {
  display: block;
  position: relative;
  height: 64px;
  width: 100%;
  text-align: center;
  line-height: 64px;
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  background: #ffffff;
  /* box-shadow: 0px -3px 3px 0px rgba(50, 50, 50, 0.1); */
}
.bottom .input {
  height: 64px;
  background: #ffffff;
  border: none;
  width: calc(100% - 64px);
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 5px 0 15px;
  resize: none;
  overflow: scroll;
  padding-top: 24px;
  font-weight: 300;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.bottom .input:focus {
  outline: none;
}
.bottom .input::-webkit-scrollbar {
  width: 0 !important;
}
.bottom .send {
  position: absolute;
  height: 42.66667px;
  width: 42.66667px;
  border-radius: 50%;
  border: 0;
  background: #34495e;
  color: #ffffff;
  bottom: 10.66667px;
  right: 10.66667px;
}
.bottom .send:before {
  content: '';
  background: url("../images/send.png") no-repeat center center;
  background-size: 25.6px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bottom .send:focus {
  outline: none;
}
.bottom .send:hover {
  cursor: pointer;
}

.message-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 10.66667px 0;
  padding: 10.66667px 0;
}
.message-wrapper .circle-wrapper {
  height: 43px;
  width: 43px;
  border-radius: 50%;
  margin-left: 1px;
}
.message-wrapper .text-wrapper {
  padding: 10.66667px;
  min-height: 42.66667px;
  width: 60%;
  margin: 0 10.66667px;
  box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
  border-radius: 2px;
  font-weight: 300;
  position: relative;
  /* word-break: break-all; */
  opacity: 0;
}
.message-wrapper .text-wrapper:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
}
.message-wrapper.them .circle-wrapper, .message-wrapper.them .text-wrapper {
  background: #34495e;
  float: left;
  color: #ffffff;
}
.message-wrapper.them .text-wrapper:before {
  border-width: 0 10px 10px 0;
  border-color: transparent #34495e transparent transparent;
  position: absolute;
  top: 0;
  left: -9px;
}
.message-wrapper.me .circle-wrapper, .message-wrapper.me .text-wrapper {
  background: #34495e;
  float: right;
  color: #333333;
}
.message-wrapper.them .circle-wrapper {
  background-image: url("../images/them.png");
  background-size: cover;
}
.message-wrapper.me .circle-wrapper {
  background-image: url("../images/me.png");
  background-size: cover;
}
.message-wrapper.me .text-wrapper {
  background: #ffffff;
}
.message-wrapper.me .text-wrapper:before {
  border-width: 10px 10px 0 0;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  top: 0;
  right: -9px;
}

@media (max-width: 560px) {
  .title {
    display: none;
  }
  .wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    left: 0;
  }
  .wrapper .inner {
    height: 100%;
  }
}

@media (max-height: 640px) {
  .title {
    display: none;
  }
  .wrapper {
    height: 100%;
    top: 0;
    bottom: 0;
  }
  .wrapper .inner {
    height: 100%;
  }
}
